* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(to right, #1E52B4 , #002777);
}

/* imagens */

